<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TZ_API</key>
	<dict>
		<key>BASE_URL_STAGING</key>
		<string>http://staging/</string>
		<key>API_KEY</key>
		<string>PF85Q4OP7VRG</string>
		<key>BASE_URL</key>
		<string>http://api.timezonedb.com/</string>
	</dict>
	<key>Twitter</key>
	<dict>
		<key>BASE_URL</key>
		<string></string>
		<key>PUBLIC</key>
		<string></string>
		<key>PRIVATE</key>
		<string></string>
	</dict>
	<key>Facebook</key>
	<dict>
		<key>BASE_URL</key>
		<string></string>
		<key>PUBLIC</key>
		<string></string>
		<key>PRIVATE</key>
		<string></string>
	</dict>
	<key>VK</key>
	<dict>
		<key>BASE_URL</key>
		<string></string>
		<key>PUBLIC</key>
		<string></string>
		<key>PRIVATE</key>
		<string></string>
	</dict>
</dict>
</plist>
